<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<property name="appName" value="q01" />
	
	<jmxConfigurator contextName="q01" />

	<include resource="q01a/q01aEnvironment.xml"/>

	<!-- Global -->
	<include resource="r01fb/r01fbLogbackGlobal.xml"/>
	<include resource="r01fb/r01fbLogback.xml"/>

	<!-- Specific -->
	<include resource="q01a/q01aLogback.xml"/>
	<include resource="q01c/q01cLogback.xml"/>

</configuration>